.hero-galante{
  min-height: 700px;
  position: relative;
  margin-bottom: 98px;
  padding: 72px 0;
  display: flex;
  align-items: center;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,0);
    background-image: url("../img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    pointer-events: none;
  }
  &__body{
    position: relative;
    z-index: 10;
  }
  @include r(767){
    min-height: 800px;
    justify-content: center;
    align-items: flex-start;
    padding: 47px 0;
    &:before{
      background-image: url("../img/hero-mobile.png");
    }
    &__body{
      text-align: center;
    }
  }
  @include r(424){
    .title-galante span{
      display: block;
    }
  }
}