.make-poster{
  min-height: 360px;
  position: relative;
  margin-bottom: 180px;
  padding: 56px 0;
  display: flex;
  align-items: center;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,0);
    background-image: url("../img/make-bg.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
  }
  &__body{
    position: relative;
    z-index: 10;
  }
  @include r(767){
    min-height: 500px;
    text-align: center;
    margin-bottom: 100px;
    padding: 63px 0;
    align-items: flex-start;
    justify-content: center;
    &:before{
      background-image: url("../img/make-bg-mobile.png");
      background-position: center;
    }
    .btn-galante{
      margin-top: -54px;
    }
  }
}