.man-poster{
  min-height: 360px;
  position: relative;
  padding: 56px 0;
  display: flex;
  align-items: center;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,0);
    background-image: url("../img/man-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
  }
  &__body{
    position: relative;
    z-index: 10;
    padding-left: 366px;
  }
  @include r(767){
    min-height: 602px;
    position: relative;
    padding: 54px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    &:before{
      background-image: url("../img/man-bg-mobile.png");
    }
    &__body{
      padding-left: 0;
    }
    .btn-galante{
      margin-top: -34px;
    }
  }
}