.women-galante{
  &__body{
    min-height: 822px;
    position: relative;
  }
  &__item{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    transition: .3s ease;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
    }
    &:hover{
      opacity: .7;
      transition: .3s ease;
    }
    span{
      position: relative;
      z-index: 1;
    }
    &.hat{
      width: 844px;
      height: 408px;
      left: -84px;
      top: 0;
      z-index: 10;
      span{
        margin-top: -120px;
        color: #915A6D;
      }
      &:before{
        background-image: url("../img/hat.png");
      }
    }
    &.glasses{
      width: 804px;
      height: 622px;
      left: -197px;
      top: 288px;
      span{
        margin-top: -81px;
        margin-left: 228px;
      }
      &:before{
        background-image: url("../img/glasses.png");
      }
    }

    &.bag{
      width: 937px;
      height: 664px;
      right: -321px;
      top: 50px;

      span{
        margin-top: -65px;
        margin-left: -220px;
      }
      &:before{
        background-image: url("../img/bag.png");
      }
    }
  }
  @include r(767){
    &__body{
      min-height: 609px;
    }
    &__item{
      font-size: 15px;
      line-height: 17px;
      position: relative;
      &.hat{
        width: 360px;
        height: 191px;
        left: -16px;
        top: 30px;
        margin: 0 auto;
        span{
          margin-top: -65px;
          margin-left: 96px;
        }
        &:before{
          background-image: url("../img/hat-mobile.png");
        }
      }
      &.glasses{
        width: 360px;
        height: 165px;
        right: auto;
        left: -18px;
        top: 0;
        margin-top: 0;
        span{
          margin-top: -28px;
          margin-left: 77px;
        }
        &:before{
          background-image: url("../img/glasses-mobile.png");
        }
      }

      &.bag{
        width: 350px;
        height: 268px;
        left: -6px;
        top: 0;
        margin-top: -34px;
        span{
          margin-top: -11px;
          margin-left: -66px;
        }
        &:before{
          background-image: url("../img/bag-mobile.png");
        }
      }
      &.umbrella{
        width: 360px;
        height: 364px;
        right: 16px;
        top: 0;
        margin-top: -22px;
        span{
          margin-top: -124px;
          margin-left: -191px;
        }
        &:before{
          background-image: url("../img/umbrella-mobile.png");
        }
      }
    }
  }

}