@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/GothamPro/GothamPro-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/GothamPro/GothamPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'PeterTheGreat';
	src: url('../fonts/PeterTheGreat/PeterTheGreat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/PeterTheGreat/PeterTheGreat-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/PeterTheGreat/PeterTheGreat-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}



$font1: 'GothamPro', sans-serif;
$font2: 'PeterTheGreat', serif;